.ds_store
# Unity-specific ignores
Library/
Logs/
Temp/
UserSettings/
Packages/*
!Packages/manifest.json
ProjectSettings/
# Used for CI/CD to grab Unity Version
!ProjectSettings/ProjectVersion.txt
Builds/